.section-one-hero-container {
  padding: 0;
}

.section-one-hero-column {
  float: left;
  width: 50%;
}

.section-one-hero-carousel {
  margin: auto;
  padding: 5rem 10rem 2.5rem 10rem;
}

.section-one-reviewer-image {
  width: 250px;
}

/* Clear floats after the columns */
.section-one-hero-row:after {
  content: "";
  display: table;
  clear: both;
}

.section-one-hero-maintext {
  color: #012d74;
  font-family: "Product Sans Bold";
  font-size: 3rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.section-one-hero-description {
  width: 60%;
}

.section-one-hero-maintext-red {
  color: #eb0029;
}

.section-one-hero-reviewed {
  padding-top: 2.5rem;
}

.section-one-hero-controlledby {
  font-family: "Product Sans Bold";
}

.section-one-hero-reviewed {
  padding-top: 1rem;
  margin: auto;
  width: 85%;
}

.section-one-hero-reviewed-column {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.section-one-hero-reviewed-row:after {
  content: "";
  display: table;
  clear: both;
}
