.section-one-hero-container {
  padding: 0;
  z-index: 1;
  width: 100%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.section-one-hero-column {
  float: left;
  width: 50%;
}

.section-one-hero-carousel {
  margin: auto;
  padding: 2rem 10rem 1rem 10rem;
}

.section-one-reviewer-image {
  width: 250px;
}

/* Clear floats after the columns */
.section-one-hero-row:after {
  content: "";
  display: table;
  clear: both;
}

.section-one-hero-maintext {
  color: #012d74;
  font-family: "Product Sans Bold";
  font-size: 3.21rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.section-one-hero-description {
  width: 62%;
}

.section-one-hero-covered-by {
  padding: 0 1.5rem 0 1rem;
  transform: translate(1rem, 1.75rem);
  font-family: "Product Sans Bold";
  font-size: 1.125rem;
}

.section-one-hero-maintext-red {
  color: #eb0029;
}

.section-one-hero-reviewed {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.section-one-hero-controlledby {
  font-size: 0.75rem;
  font-family: "Product Sans Bold";
}

.section-one-hero-ojk-idx {
  padding: -1%;
}

.section-one-hero-reviewed {
  padding-top: 1rem;
  margin: auto;
  width: 80%;
}

.section-one-hero-reviewed-column {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.section-one-hero-reviewed-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 960px) {
  .section-one-hero-reviewed {
    display: none;
  }
  .section-one-hero-carousel {
    margin: auto;
    padding: 3rem 1.5rem 3rem 3rem;
  }
  .section-one-hero-column {
    float: left;

    width: 100%;
  }
  .section-one-hero-maintext {
    color: #012d74;
    font-family: "Product Sans Bold";
    font-size: 3.21rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
