.section-five-reviews {
  padding-top: 2.5%;
}

.section-five-reviews-row {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

.section-five-reviews-row:after {
  content: "";
  display: table;
  clear: both;
}

.section-five-reviews-column {
  float: left;
  width: 33.33%;
}

.section-five-review-image {
  width: 90%;
}

.section-five-review-text {
  padding-top: 2%;
  color: #8eadc1;
  padding-left: 5%;
  text-align: left;
  width: 90%;
  font-size: 1.125rem;
}

.section-five-review-person {
  font-family: "Product Sans Bold";
  font-size: 1.125rem;
  padding-top: 5%;
  text-align: left;
  padding-left: 5%;
  color: #0d5798;
}
