.footer-container {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  height: 350px;
  border-top-left-radius: 43px;
  border-top-right-radius: 33px;
  background-color: #f2f2f2;
}

.footer-main-column {
  float: left;
  padding: 10px;
}

.footer-main-left {
  width: 30%;
}

.footer-main-right {
  width: 66.8%;
}

.footer-main-row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-left-column-container {
  padding-left: 15%;
  padding-top: 5%;
}

.footer-right-column-container {
  padding-left: 15%;
  padding-top: 4.5%;
}

.footer-left-column-title {
  color: #012d74;
  font-size: 2.5rem;
  font-family: "Product Sans Bold";
  padding-bottom: 1rem;
}

.footer-left-column-title-red {
  color: #eb0029;
}

.footer-left-column-company-name {
  font-family: "Product Sans Bold";
}

.footer-left-column-company-addr {
  width: 75%;
  padding-bottom: 1rem;
}

.footer-left-column-controlledby {
  font-family: "Product Sans Bold";
}

.footer-right-column-column {
  float: left;
  width: 33.33%;
}

.footer-right-column-row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-right-column-each-title {
  font-family: "Product Sans Bold";
  font-size: 1.5rem;
}

.footer-right-column-each-content {
  padding-top: 20px;
}

.footer-right-column-social-column {
  float: left;
}

.social-left {
  width: 15%;
}

.social-right {
  width: 75%;
}

.footer-right-column-social-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 960px) {
  .footer-container {
    margin-right: 0rem;
    margin-left: 0rem;
    height: 100%;
    border-top-left-radius: 43px;
    border-top-right-radius: 33px;
    background-color: #f2f2f2;
  }
  .footer-main-column {
    width: 100%;
    padding: 0;
  }
  .footer-left-column-container {
    padding-left: 10%;
    padding-top: 10%;
  }
  .footer-left-column-title {
    color: #012d74;
    font-size: 2rem;
    font-family: "Product Sans Bold";
    padding-bottom: 1rem;
  }
  .footer-right-column-column {
    padding-bottom: 5rem;
    width: 50%;
  }
  .footer-right-column-container {
    padding-left: 7.5%;
    padding-top: 4.5%;
  }
  .footer-right-column-each-title {
    font-family: "Product Sans Bold";
    font-size: 1.5rem;
  }
  .footer-main-row {
    height: 100vh;
  }
}
