.section-three-container {
  padding-top: 5%;
  padding-bottom: 2.5%;
}
.section-three-text-container {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.section-three-title {
  font-size: 2rem;
  font-family: "Product Sans Bold";
  color: #012d74;
}
.section-three-title-red {
  color: #eb0029;
}
.section-three-desc {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.125rem;
  color: #8eadc1;
}

.section-three-video-container {
  margin: auto;
  width: 80%;
}
.section-three-video {
  max-width: 100%;
}
